@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@600&family=Roboto:wght@300&display=swap');


body{
  background-color:#fdfbfb !important;
}
a{
    color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  /*text-shadow: 1px 1px 1px #187996;*/
  font-size: 16px; 
}

P{
  text-align: left;
}

h1, h2{
  font-weight: 500;
  color: #303030;
  line-height: 1.6em;
  margin: 0 0 15px 0;
  clear: both;

}

h2, h1{
  font-size: 1.9em;
}

img{
  border: 0;
  max-width: 90% !important;
  height: auto;
  margin-top: 0px;
}
.navbar{
  /*background-color: transparent !important;*/
  background-color:#49a6c8c9 !important;
  font-family: 'Raleway', sans-serif !important; 
  word-spacing: 30px !important;
  
  
}


.carousel-inner{
  height: 600px;
  width: 95%;
  background-size:cover;
 
}
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  min-height: 500px;
}

.footer{
  background-color:#2b9eb3 !important;
  font-family: 'Raleway', sans-serif !important; 
  color: #fff;
  font-size: 14px;
  width: 100% !important;
  height: 140px;
 
}

i{
font-size: 25px;
padding-left: 4px;

}

.text-justify{
text-align: justify !important;
}

.sorteo{
  margin-top: 5px;
  padding-right: 1.5em;
  padding-top: 1.5em;
  text-align: center;
}
 
.contacto{
  line-height : 1.6em;
  font-family: 'Poppins', sans-serif !important;
  color: #606060 !important;
  width: 95%;

}





/*
.header {
    background: url(../img/3d-bandera-de-honduras-sobre-un-cristal-con-fondo-de-gota-de-agua-es-una-bandera-que-se-introdujo-en-2022-2k7p36n.jpg) no-repeat center;
    background-size: cover;
    min-height: 10%;
    }

    .item, img{
  height: 100% !important;
  width:  100% !important;
  border: 1px solid red;
}
*/
 
/*
    body, .foot{
        background: radial-gradient(white, rgb(245, 245, 245)) !important;
    }
    */