@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@600&family=Roboto:wght@300&display=swap');


body{
  background-color:#fdfbfb !important;
}
a{ /*anclas del navbar*/
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #95bac5;
  font-size: 17px; 
}

a:hover {
  background-color: #b5d5e1c9 ;
  color: black;
  border-radius: 5px;
  
}
P{/*alinear los parrafos de institucion*/
  text-align: left;
}

h1, h2{
  font-weight: 500;
  color: #303030;
  line-height: 1.6em;
  margin: 0 0 15px 0;
  clear: both;
}

h2, h1{
  font-size: 1.9em;
}


.navbar{ /*Estilos del menu de la pagina*/
  background-color:#49a6c8c9 !important;
  font-family: 'Raleway', sans-serif !important; 
  word-spacing: 30px !important;
  height: auto;
  width: auto;
}

.carousel-inner{ /*estilos del carousel de imagenes*/
  height: auto;
  background-size:cover;
  margin-top: 70px; /*margen para bajar el carousel del menu*/
}
.carousel-item img { /*estilos del carousel de imagenes*/
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
}

.footer{ /*Estilos del footer de la pagina*/
  background-color:#2b9eb3 !important;
  font-family: 'Raleway', sans-serif !important; 
  color: #fff;
  font-size: 14px;
}

i{ /*Logos de redes sociales*/
font-size: 25px;
padding-left: 4px;
}

.text-justify{
text-align: justify !important;
}

.sorteo{ /* Estilo del Titulo de ultimos sorteos*/
  margin-top: 5px;
  padding-right: 1.5em;
  padding-top: 1.5em;
  text-align: center;
}
 
.contacto{ /*Estilos pagina de contacto*/
  line-height : 1.7em;
  font-family: 'Poppins', sans-serif !important;
  color: #606060 !important;
}






/*
.header {
    background: url(../img/3d-bandera-de-honduras-sobre-un-cristal-con-fondo-de-gota-de-agua-es-una-bandera-que-se-introdujo-en-2022-2k7p36n.jpg) no-repeat center;
    background-size: cover;
    min-height: 10%;
    }

    .item, img{
  height: 100% !important;
  width:  100% !important;
  border: 1px solid red;
}
*/
 
/*
    body, .foot{
        background: radial-gradient(white, rgb(245, 245, 245)) !important;
    }
    */