@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@600&family=Roboto:wght@300&display=swap');


a{ /*anclas del navbar*/
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #95bac5;
  font-size: 17px; 
  outline: none;
}


p{/*alinear los parrafos de la seccion institucion*/
  text-align: left;
}

h1, h2{/*Revisar el codigo*/
  font-weight: 500;
  color: #303030;
  line-height: 1.6em;
  margin: 0 0 15px 0;
  clear: both;
}

h2, h1{
  font-size: 1.9em;
}
/*------------------------------------------------------------------
:::::Estilos del menu de navegacion y la pagina de inicio del PANI:::
-------------------------------------------------------------------*/

.navbar-nav li{
  padding-left: 10px;
  padding-right: 10px;
}

.navbar{ 
  background-color:#49a6c8c9 !important;
  font-family: 'Raleway', sans-serif !important; 
  word-spacing: 30px !important;
  height: auto;
  width: auto;
}

.navbar a:hover {
  background-color: #b5d5e1c9 ;
  color: black;
  border-radius: 5px;
}
/*Para trabajar con el tema de responsive es recomendable trabajar
con porcentajes*/
@media screen and (min-width: 960px){/*Modificacion del Estilo responsive del menu de navegaci贸n*/
  .navbar .margin{
    margin-left: 50px !important;

  }
  .navbar .mx-auto{
    margin-left: 250px !important;
  }

  nav.fixed{ 
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100px; }
}

@media screen and (max-width: 960px){
  .navbar-nav .nav-link{
    color: #fff !important;
    }
}

.navbar-toggler{
  padding: -0.75rem .75rem !important; /*Modificar el icono del menu para ser mas responsive*/
  border-color: #fbfbfb !important;
  border: 1px solid #d7f6f2 !important;
  border-radius: 3px !important;
  margin-top: 20px !important;
  background: none !important;
}

/* Estilos del item Instituci贸n, que contiene los despliegues de menus*/
.dropdown-menu {
  margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 20px;
  border-width: 0;
}

.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
  }

  .dropdown-menu > li a:hover,
  .dropdown-menu > li.show {
    background: #007bff;
    color: white;
  }
  .dropdown-menu > li.show > a {
    color: white;
  }
}

.dropdown-menu > li > a {
  color: #000000;
  word-spacing: -0em !important;
}

.dropdown a{
  word-spacing: -0em !important;
}

/*--------------------------------------------------------------------
:::::::::::::::::::estilos del carousel de imagenes::::::::::::::::::
----------------------------------------------------------------------*/

.slide{
  margin-top: 110px; 
}

    @media screen and (max-width: 960px){ 
      .slide{
        margin-top: 30px !important; 
      }
      .slide img {
        height: 180px !important;
        }
    }
.slide img {
height: auto;
}

.w-85{
  width: 85% !important;
}

.carousel-indicators{
  margin-bottom: -3rem !important;
  margin-right: 6% !important;
}

.carousel-indicators button{
  width: 1rem !important; 
  height: 1rem !important;  
  border: solid #49a6c8c9 !important;
  border-radius: 100% !important;
}

/*--------------------------------------------------------------
::::::::::::::::::::Inicio de Estilos de sorteo::::::::::::::::
---------------------------------------------------------------*/


.conteiner-principal-sorteos{
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2 ,60% 20% 5%);
}

.conteiner-sorteos{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 10px;
}

.face-social-pani{
  width: 100%;
  height: 90%;
  display: grid;
  margin: auto;
  gap: 20px;
}

.banner-panni{
  display: grid;
  grid-template-rows: auto;
  padding: 18px 35px 15px 35px;
}

.banner-panni img{
width: 139px;
height: 174px;

}
/*Para trabajar con el tema de responsive es recomendable trabajar
con porcentajes*/
@media screen and (max-width: 960px){ 
  .conteiner-principal-sorteos{
    width: 80%;
    padding: 15px 0;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
  }
  .conteiner-sorteos{
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .banner-panni img{
    width: 70px !important;
    height: 90px !important;
    margin-top: 10px !important;
    gap: 10px;
    }

    .banner-panni button{
      width: 200px !important;
      height: 60px !important;
      margin: 15px 15px !important;
      padding: 10px 10px !important;
      text-align: center;
      
      }
      .face-social-pani{
        width: auto;
        height: auto;
        margin: auto;
        gap: 20px;
      
      }
     
}
/*Para trabajar con el tema de responsive es recomendable trabajar
con porcentajes*/
    @media screen and (max-width: 960px) {
      .sorteo{ 
        margin-top: 50px !important;  
        font-size: 25px !important;
        padding-left: 1.5em !important;
      }
      .sorteo hr{
         margin-right: 1rem !important;
        margin-left: 1rem !important;
      }
      
    }

    .sorteo{ /* Estilo del Titulo sorteos*/
      margin-top: 5px;
      padding-right: 1.5em;
      padding-top: 1.5em;
      text-align: center;
      font-size: 3.5vw;
    }

    .sorteo hr{
      margin-right: 100px;
      margin-left: 100px;
    }




/*---------------------------------------------------------------------------
:::::::::::::::::::::::::Estilos del contenedor comites::::::::::::::::::::
----------------------------------------------------------------------------*/
    .container-de-comites{
      width: 90%;
      max-width: 1499px;
      margin: auto;
      margin-bottom: 1rem;
      padding: 13px 10px;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      border: solid 0.5px #ebf2f4;
      background-color: #f2f2f2;
    }
    
    .container-de-comites p{
      display: flex;
      margin: auto;
      font-size: 1.25rem;
      padding-bottom: 1rem;
    }
    
    .container-comite {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      background-color: #f2f2f2;
    }
    
    .container-comite .card{
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
    
    .container-de-comites img{
         border: 0;
        max-width: 100% !important;
        height: auto; 
        background-color: #f2f2f2;
    
      }
/*-------------------------------------------------------------
::::::::::::Inicio de Estilos del footer de la pagina:::::::::
-------------------------------------------------------------*/

.footer{ 
  width: 100%;
  background-color:#2b9eb3 !important; 
  font-family: 'Raleway', sans-serif !important; 
  font-size: 15px;
 /* position: fixed;
  bottom: 0;*/
}

.footer .grupo-1{
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 20% 44% 13% 10%);/*se repitan las tres columnas con todo el ancho*/
  column-gap: 20px;
  padding: 45px 35px 0px 15px;
}

.footer .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center; /*Centrado horizontal*/
align-items: center;/*centrado vertical*/
padding-bottom: 7px;
}

.footer .grupo-1 .box figure img{
  width: 160px;
}
  .footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 10px;
    font-size: 19px;
  }

    .footer .grupo-1 .box p{
      color: #efefef;
      margin-bottom: 15px;
      font-size: 15px;
    }

    .footer .grupo-1 .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 40px;
      height: 45px;
      color: #fff;
      background-color: #03519f;
      text-align: center;
      transition: all 300ms ease;

    }

    .red-social a{ /*Logos de redes sociales*/
      font-size: 27px;
      padding-left: 5px;
      }

    .footer .grupo-1 .red-social a:hover{
      color: #000dff;
    }

    .footer .grupo-2{
      padding: 25px 20px;
      text-align: center;
      color: #fff;

    }
      .footer .grupo-2 .small{
        font-size: 15px;
        margin-bottom: 10px;
      }

      .footer hr{
        margin-left: 100px;
        margin-right: 100px;
      }

        p.text-justify{
          text-align: left !important;
          font-style: normal;
          line-height: 22px;
          }
          /*Para trabajar con el tema de responsive es recomendable trabajar
              con porcentajes*/
      @media screen and (max-width: 800px){
        .footer .grupo-1{
          width: 85%;
          grid-template-columns: repeat(1, 1fr);/*se repitan las tres columnas con todo el ancho*/
          gap: 25px;
          padding: 35px 10px;
        }
  }
  
  /* Bot贸n Subir */
      .toTop {
        border: none;
        display: flex;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;
        /* posici贸n */
        position: fixed; right: 1rem; bottom: 1rem; z-index: 9999;
      }
      .toTop:not(.is-visible) {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-2rem);
      }
      .toTop svg {
        stroke-width: 3px;
        stroke: currentColor;
        fill: none;
        width: 20px;
      }
      /* Personalizar */
      .toTop {
        background-color: #31708f;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        padding: 0.43rem;
        color: #fff;
        margin-left: 250px;
        margin-top: 0px;
      }
        
        
        
  
  
  /*:::::final de Estilos del footer de la pagina:::::*/



 /*---------------------------------------------------------------------
 ::::::::::::::::::::::Estilos pagina de contacto:::::::::::::::::::::::
 ----------------------------------------------------------------------*/

 @media screen and (min-width:960px){
  .contacto{ 
    line-height : 1.7em;
    font-family: 'Poppins', sans-serif !important;
    color: #606060 !important;
    padding: 2.5em 2.5em !important;
  }
  
  .datos-contacto{
    line-height: 2em;
  }
 }

.contacto{ 
  line-height : 1.7em;
  font-family: 'Poppins', sans-serif !important;
  color: #606060 !important;
  padding-top: 4.5em !important;
}

.info li {
  display: inline-block;
    margin-right: 15px;
}

/*--------------------------------------------------------------
::::::::::::::::::::::Estilos de institucion:::::::::::::::::::::
---------------------------------------------------------------*/
@media screen and (min-width: 960px) {
  .parrafos-institucion{ 
    line-height : 1.7em;
    font-family: 'Poppins', sans-serif !important;
    color: #606060 !important;
    padding: 4em 1em 4em 5em !important;
  }
}

.parrafos-institucion{ 
  line-height : 1.7em;
  font-family: 'Poppins', sans-serif !important;
  color: #606060 !important;
  padding-top: 4.5em !important;
}

/*Estilos del Menu de titulos despegable de la seccion de noticias*/
.nav{
  width: 300px;
}

.nav__link{
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.nav__link--inside{
  border-radius: 6px ;
  text-align: left;
  font-size:medium;
  margin: -15px;
  text-transform: capitalize;
}

.nav__link--inside:hover{
background: #d0e1f3ca;
}

.list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  
}

ul.list{
padding-left: 0px !important;
}

.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click{
  cursor: pointer;
}

.list__button{
  display: flex;
  align-items: initial;
  gap: 1em;
  width: 100%;
  margin: 0 auto;
}

.arrow .list__arrow{
  transform: rotate(90deg);
}

.list__arrow{
  /*margin-left: auto;*/
  transition: transform .3s;
}

.list__show{
  /*width: 80%;*/
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}

/*Fin de Menu despegable de la seccion de noticias*/



